<library path="src">
  <class name="ScitosDashboard" type="rqt_scitos_dashboard.scitos_dashboard.ScitosDashboard" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin as a dashboard for a Scitos robot.
    </description>
    <qtgui>
      <label>Scitos Dashboard</label>
      <icon type="theme">utilities-system-monitor</icon>
      <statustip>A Python GUI plugin as a dashboard for a Scitos robot.</statustip>
    </qtgui>
  </class>
</library>
