<robot name="scitos_haw_schunk" xmlns:xacro="http://ros.org/wiki/xacro">

<!-- Scitos and properties -->
<xacro:include filename="$(find metralabs_ros)/models/xacro/scitos_haw_only.xacro" />

<!-- Links macros -->
<xacro:include filename="$(find metralabs_ros)/models/xacro/scitos_haw_schunk_links.xacro" />
<!-- Joints macros -->
<xacro:include filename="$(find metralabs_ros)/models/xacro/scitos_haw_schunk_joints.xacro" />


<xacro:DH  name="arm_base_link"/><!-- base of arm -->
<xacro:PRL name="arm_link_1" type="100"/><!-- ~center of base swivel joint ID20 -->
<xacro:PRL name="arm_link_2" type="100"/><!-- center of first pitch joint ID21 -->
<xacro:PRL name="arm_link_3" type="100"/><!-- center of second pitch joint ID22 -->
<xacro:PRL name="arm_link_4" type="80"/><!-- center of third pitch joint ID23 -->
<xacro:PRL name="arm_link_5" type="60"/><!-- center of hand roll joint ID24 -->


<xacro:Connector name="arm_base_connector" >
    <cylinder radius="0.080" length="0.060" /> <!--values ok--> 
</xacro:Connector>
<xacro:connect parent="arm_base_link" child="arm_base_connector"/>


<xacro:Connector_long name="arm_link_2_connector" length="400"/>
<xacro:Connector_long name="arm_link_3_connector" length="300"/>
<xacro:connect parent="arm_link_2" child="arm_link_2_connector"/>
<xacro:connect parent="arm_link_3" child="arm_link_3_connector"/>


<link name="gripper">
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
        <box size="0.090 0.080 0.112" />
    </geometry>
    <material name="golden"/>
  </visual>
  <collision>
    <origin xyz="0.040 0 0"/>
    <geometry>
        <box size="0.185 0.100 0.132" />
    </geometry>
  </collision>
</link>

<xacro:GripperFinger name="gripper_finger_pos" reflect="1"/>
<!--<xacro:connect parent="gripper" child="gripper_finger_pos"/>-->
<xacro:GripperFinger name="gripper_finger_neg" reflect="-1"/>
<!--<xacro:connect parent="gripper" child="gripper_finger_neg"/>-->

<link name="camera_mount">
  <visual>
    <origin xyz="-0.0085 0 -0.003210" rpy="0 0 0" />
    <geometry>
        <box size="0.073 0.051 0.025" /><!-- Werte vermessen -->
    </geometry>
    <material name="black"/>
  </visual>
  <collision>
    <geometry>
        <box size="0.090 0.070  0.030" />
    </geometry>
  </collision>
</link>
<xacro:connect_xyz_rpy parent="gripper" child="camera_mount" xyz="-0.011 -0.055 0" rpy="${0.25*tau} 0 0"/><!-- Werte berechnet -->


<link name="kinect">
  <visual>
    <geometry>
        <box size="0.06 0.28 0.04" /><!-- Werte auf cm vermessen -->
    </geometry>
    <material name="black"/>
  </visual>
  <collision>
    <geometry>
        <box size="0.08 0.30 0.06" />
    </geometry>
  </collision>
</link>
<xacro:connect_xyz parent="camera_mount" child="kinect" xyz="-0.015 0 0.04"/><!-- Werte auf cm vermessen -->



</robot>
