<robot name="scitos_haw_schunk" xmlns:xacro="http://ros.org/wiki/xacro">

<!-- Scitos and properties -->
<xacro:include filename="$(find metralabs_ros)/models/xacro/scitos_haw_only.xacro" />

<!-- Links macros -->
<xacro:include filename="$(find metralabs_ros)/models/xacro/scitos_haw_schunk_links.xacro" />
<!-- Joints macros -->
<xacro:include filename="$(find metralabs_ros)/models/xacro/scitos_haw_schunk_joints.xacro" />


<xacro:DH  name="DH1"/><!-- base of arm -->
<xacro:PRL name="DH2" type="100"/><!-- ~center of base swivel joint ID20 -->
<xacro:PRL name="DH3" type="100"/><!-- center of first pitch joint ID21 -->
<xacro:PRL name="DH4" type="100"/><!-- center of second pitch joint ID22 -->
<xacro:PRL name="DH5" type="80"/><!-- center of third pitch joint ID23 -->
<xacro:PRL name="DH6" type="60"/><!-- center of hand roll joint ID24 -->


<xacro:Connector name="ConnBase" >
    <cylinder radius="0.080" length="0.060" /> <!--values ok--> 
</xacro:Connector>
<xacro:connect parent="DH1" child="ConnBase"/>


<xacro:Connector_long name="ConnLong1" length="400"/>
<xacro:Connector_long name="ConnLong2" length="300"/>
<xacro:connect parent="DH3" child="ConnLong1"/>
<xacro:connect parent="DH4" child="ConnLong2"/>


<link name="Gripper">
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
        <box size="0.090 0.080 0.112" />
    </geometry>
    <material name="golden"/>
  </visual>
  <collision>
    <origin xyz="0.040 0 0"/>
    <geometry>
        <box size="0.185 0.100 0.132" />
    </geometry>
  </collision>
</link>

<xacro:GripperFinger name="GFpos" reflect="1"/>
<!--<xacro:connect parent="Gripper" child="GFpos"/>-->
<xacro:GripperFinger name="GFneg" reflect="-1"/>
<!--<xacro:connect parent="Gripper" child="GFneg"/>-->

<link name="CameraMount">
  <visual>
    <origin xyz="-0.0085 0 -0.003210" rpy="0 0 0" />
    <geometry>
        <box size="0.073 0.051 0.025" /><!-- Werte vermessen -->
    </geometry>
    <material name="black"/>
  </visual>
  <collision>
    <geometry>
        <box size="0.090 0.070  0.030" />
    </geometry>
  </collision>
</link>
<xacro:connect_xyz_rpy parent="Gripper" child="CameraMount" xyz="-0.011 -0.055 0" rpy="${0.25*tau} 0 0"/><!-- Werte berechnet -->


<link name="Kinect">
  <visual>
    <geometry>
        <box size="0.06 0.28 0.04" /><!-- Werte auf cm vermessen -->
    </geometry>
    <material name="black"/>
  </visual>
  <collision>
    <geometry>
        <box size="0.08 0.30 0.06" />
    </geometry>
  </collision>
</link>
<xacro:connect_xyz parent="CameraMount" child="Kinect" xyz="-0.015 0 0.04"/><!-- Werte auf cm vermessen -->



</robot>
