<launch>

	<param name="robot_description" command="cat $(find metralabs_ros)/Models/scitos_haw_schunk.urdf" />
		
	<!-- joint_state_publisher: produces joints states for mimic joints -->
	<node pkg="joint_state_publisher" type="joint_state_publisher" name="schunk_state_de_mimic_er">
	    <remap from="joint_states" to="/schunk/position/joint_states" />
	    <!--<param name="source_list" value="[/schunk/position/pre_mimic/joint_states]" />-->
	    <rosparam param="source_list">['/schunk/position/pre_mimic/joint_states']</rosparam>
	    <!--<rosparam param="dependent_joints">{GR_Fneg: {parent: GR_Fpos, factor: -3 }}</rosparam>-->
	    <param name="rate" type="int" value="10" />
<!-- 	    <param name="tf_prefix" type="string" value="/schunk/position" /> -->
	</node>
		
	 <!-- Robot state publisher: publishes tf information regarding the position of the arm -->
	<node pkg="robot_state_publisher" type="state_publisher" name="schunk_state_publisher">
	    <remap from="joint_states" to="/schunk/position/joint_states" />
	    <param name="publish_frequency" type="double" value="10.0" />
<!-- 	    <param name="tf_prefix" type="string" value="/schunk/position" /> -->
	</node>
	
		
	<!-- The Arm/Base node -->
	<node name="metralabs_ros" pkg="metralabs_ros" type="ScitosServer" output="screen">
	    <param name="scitos_config_file" type="string" value="/home/demo/SCITOS-G5_without_Head_config.xml" />
	    <remap from="schunk_description" to="robot_description"/>
	    <remap from="state" to="/schunk/trajectory/state" />
	    <remap from="command" to="/schunk/trajectory/command" />
	    <remap from="/schunk/position/joint_states" to="/schunk/position/pre_mimic/joint_states" />
	</node>

	<!-- The kinematics node -->
<!--	<node pkg="schunk_kinematics" type="schunk_kinematics"  name="schunk_kinematics">      
	    <remap from="schunk_description" to="robot_description" />
	    <param name="tip_name" type="string" value="GripperBox" />
	    <param name="root_name" type="string" value="PAM112_BaseConector" />
	    <param name="maxIterations" type="int" value="20000"/>
	    <param name="epsilon" type="double" value="1e-5"/>
	    <param name="lambda" type="double" value="0.01"/>
	</node>-->
	
	
	
</launch>
