<launch>
    <!--
    This node/launch file is not included in the scitos_haw_*_start
    launch files, because they are sometimes simply relaunched to reset
    the metralabs_ros/ScitosServer node. But the nodelet manager needed
    for cmd_vel_mux does not allow for being startet over. Hence this
    launch file.
    -->

    <!-- Node to prioritize different sources of cmd_vel messages -->
    <node pkg="nodelet" type="nodelet" name="nodelet_manager_cmd_vel_mux" args="manager"/>
    <node pkg="nodelet" type="nodelet" name="cmd_vel_mux" args="load yocs_cmd_vel_mux/CmdVelMuxNodelet nodelet_manager_cmd_vel_mux">
        <param name="yaml_cfg_file" value="$(find uashh_rvl_helper_files)/config/cmd_vel_mux_scitos_conf.yaml"/>
    </node>

</launch>
