<launch>

	<param name="robot_description" command="cat $(find metralabs_ros)/models/scitos_haw_only.urdf" />
		
	 <!-- Robot state publisher: publishes tf information regarding the position of the arm -->
	<node pkg="robot_state_publisher" type="state_publisher" name="schunk_state_publisher">
	    <param name="publish_frequency" type="double" value="10.0" />
	</node>
	
	<!-- The Arm/Base node -->
	<node name="metralabs_ros" pkg="metralabs_ros" type="ScitosServer" output="screen">
	    <param name="scitos_config_file" type="string" value="/home/demo/SCITOS-G5_without_Head_config.xml" />
	    <param name="robot_arm_class" type="string" value="None" />
	    <remap from="cmd_vel" to="/cmd_vel_prio" />
	</node>

</launch>
